@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,700,900);

body {
	font-size: 1.313em;
	line-height: 1.524em;
	font-family: 'Merriweather',Georgia,serif;
	font-weight: 300;
	font-style: normal;
	position: relative;
}

h1 { /* chapter */
	font-size: 26pt;
	position: relative;
	}

.chapterHeader {
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 50px;
	padding-right: 10px;
	text-align: left;
	font-variant:small-caps;
	}
	.chapterHeader span {
	}

.newchapter {
	counter-reset:subsection;
}

h2 { /* section */
	background: #bbb;
	border-top: 2px solid black;
	counter-increment: subsection;
	font-size: 17pt;
	padding: 2px 0 0 6px;
}

h3 { /* title */
	font-weight: bolder;
	margin-bottom: 1em;
}
	
q {
	display: block;
	font-style: italic;
	text-align: right;
	}
	q:after {
		content: "-- " attr(cite);
		display: block;
		text-align: right;
	}

p {
	text-align: justify;
	text-indent: 25px;
}

img {
	display: block;
	margin: 10px auto;
}

.note {
	display: none;
}

.box {
	border: 1px solid black;
	border-left: none;
	border-right: none;
	display: block;
	margin-left: 50px;
	margin-bottom: 17px;
	}
	.box h4 {
		background: #bbb;
		border-bottom: 1px solid black;
		padding: 2px 5px;
		margin-bottom: 3px;
	}
	.box p {
		text-indent: 0;
		}
		.box p:last-child {
			margin-bottom: 2px;
		}

h2 {
	/*counter-reset:question;*/
	}
	.newquestion {
		counter-increment: question;
		text-indent: 0;
		}
		.newquestion:before {
			content: counter(question) ") ";
		}

.page, .page .content {
	overflow: hidden;
}
.header {
	font-size: 10pt;
	}
	.page.newchapter .header {
		visibility: hidden;
	}
.footer {
	font-size: 10pt;
	text-align: left;
	}
	.page:nth-child(2n+1) .footer {
		text-align: right;
	}
.blank .header, .blank .footer {
	visibility: hidden;
}

/** INDEX **/
#index {

	}
	#index .content p {
		border-bottom: 1px dotted black;
		clear: both;
		height: 15px;
		margin: 0;
		position: relative;
		text-indent: 0;
		width: 100%;
	}
	#index .content p.chapter {
		font-weight: bold;
		margin-top: 20px;
		}
	#index .content p a {
		background: white;
		color: black;
		float: left;
		padding: 2px 10px 2px 2px;
		text-decoration: none;
		z-index: 10;
	}
	#index .content p span {
		background: white;
		float: right;
		padding-left: 10px;
		text-indent: 0;
	}
	#index .content p:after {
		clear: both;
	}
